/***** vitepress 样式优化 ******/

/* 大屏大一点 */
@media (min-width: 1440px) {
  .VPDoc.has-aside .content-container.content-container {
    max-width: 100%;
  }
}

/* nav 换行问题（6 个还是有点小多，后面看看怎么优化） */
@media (max-width: 960px) {
  .VPNav {
    .VPNavBarMenuLink,
    .VPNavBarMenuGroup .button {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

/* 代码块标题，跟 h6 一样 */
.custom-block .custom-block-title {
  font-size: 16px;
}
